mixin s-payment-method()
	// start s-payment-method
	+b.SECTION.s-payment-method.section#s-payment-method&attributes(attributes)
		.container
			+e.head-row.row
				.col
					+e.H2.title Способы оплаты
				.col-auto
					select.custom-select.sources(name="sources" placeholder='Все способы')
							option(value="all") Все способы
							option(value="card") Банковские крты
							option(value="pocket") Эл. кошельки
							option(value="transfer") Системы переводов
							option(value="other") Другое
			+e.main-row.row
				mixin i(t)
					+e.col.col-md-3.col-sm-4.col-6&attributes(attributes)
						+e.A.item(href='#')
							+e.item-img-wrap
								img.res-i(src='img/@2x/payment-item.png' alt='')
							+e.item-title=t
				+i('QIWI Кошелек')(data-value='pocket')
				+i('Банковская карта')(data-value='card')
				+i('Денежный перевод')(data-value='transfer')
				+i('Любой другой вариант')(data-value='other')
				+i('QIWI Кошелек')(data-value='pocket')
				+i('Денежный перевод')(data-value='transfer')
				+i('Любой другой вариант')(data-value='other')
				+i('Денежный перевод')(data-value='transfer')
				+i('Банковская карта')(data-value='card')
				+i('Любой другой вариант')(data-value='other')
				+i('QIWI Кошелек')(data-value='pocket')
				+i('Любой другой вариант')(data-value='other')
				+i('Денежный перевод')(data-value='transfer')
				+i('QIWI Кошелек')(data-value='pocket')
				+i('Любой другой вариант')(data-value='other')
				+i('Банковская карта')(data-value='card')
				+i('Любой другой вариант')(data-value='other')

	// end s-payment-method