mixin s-payment-method()
	// start s-payment-method
	+b.SECTION.s-payment-method.section#s-payment-method&attributes(attributes)
		.container
			+e.head-row.row
				.col
					+e.H2.title Способы оплаты
				.col-auto
					select.custom-select.sources(name="sources" placeholder='Все способы')
							option(value="Relevance") Все способы
							option(value="new") Банковские крты
							option(value="popular") Эл. кошельки
							option(value="priceHigh") Системы переводов
							option(value="priceLow") Другое
			+e.main-row.row
				mixin i()
					+e.col.col-md-3.col-sm-4.col-6
						+e.A.item(href='#')
							+e.item-img-wrap
								img.res-i(src='img/@2x/payment-item.png' alt='')
							+e.item-title QIWI Кошелек
				+i()
				+i()
				+i()
				+i()
				+i()
				+i()
				+i()
				+i()
				+i()
				+i()

	// end s-payment-method