extends layout/main.pug


include ../blocks/s-content/_s-content.pug
include ../blocks/s-contact/_s-contact.pug
include ../blocks/s-payment-method/_s-payment-method.pug

block variables
	- let  mainPage= null
block title
	- let  title= 'Способ оплаты'
	title= title
block pagecontent
	+header()
		+top-line()
	+header-block()
	+s-payment-method()
	+footer()